*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
@font-face {
    font-family: fontTitle;
    src: url(fonts/Redressed-Regular.ttf);
  }
@font-face {
    font-family: texto;
    src: url(fonts/Quicksand-VariableFont_wght.ttf);
}  
:root{
    --primary-color : #f7f3f3;

    --secundary-color :  #babdf5; 
    --ternary-color : #b10404;
    --black-color : #3b2a2a;
    --text-color : #b11b1b;
    --text-color-dark : #f5dadc;
    
}

body{
        
   
    font-family: fontTitle;
    
}
#container{
    background-color: var(--primary-color);
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header{   
    width: 100%; 
    display: flex;
    background-color: var(--secundary-color);
    height: auto;
    
    align-items: center;
    justify-content: space-between;
    flex-direction: column  ;
    
}

.title p{
 
    font-size: 6rem;
}
.main-menu{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    
    color: var(--black-color);
    font-size: 3rem;
    
}
#config{
    padding-right: 1%;
    margin-top: 1%;
    width: 100%;    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: texto;
    font-weight: 600;
    font-size: 1.5rem;
    align-items: center;
    cursor: pointer;
    color: var(--black-color);
    
    
}
#idiom{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    
}

#menu-idiom{
    position: absolute;
    visibility: hidden;
    margin-right: 5px;
    top: 6.4%;
    top: 2.5vh;
    right: 25px;
    z-index: 3;
    background:var(--primary-color);
    
}
#ionic{
    color: #0b6d0b;
 
}
#menu-idiom > ul{
    list-style: none;
}
#menu-idiom > ul > li{
    font-family: texto;

}
#menu-idiom > ul > li:hover{
    background-color: var(--secundary-color);
}
#mode-noturn{
    
    margin-top: 2px;    
    display: flex;
    margin-right: 2%;
 
    justify-content: flex-end;
    
    
    
    
    
    }
    
    #noturn-mode-div{
        
        height: 2vh;
        width: 2.5vh;
        margin-right: 5%;  
    
    }
    .moon{
        background-image: url(img/moon-solid.svg);
        background-size: contain;
        background-repeat: no-repeat;
        filter:  invert(48%) sepia(63%) saturate(839%) hue-rotate(152deg) brightness(92%) contrast(105%);
        

    }
    .sun{
        background-image: url(./img/sun-solid.svg);
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(84%) sepia(32%) saturate(1154%) hue-rotate(5deg) brightness(113%) contrast(85%);
    }
    #noturn-mode-img{
        height: 5vh;
        margin-right: 5%;  
        padding-top: 5px;  
        filter:  invert(48%) sepia(63%) saturate(839%) hue-rotate(152deg) brightness(92%) contrast(105%);;
        
        
    
    }
.menu-title{
    width: 100%;
    display: flex;    
    align-items: center;
    padding-left: 4%;
    padding-right: 2%;
    justify-content: space-between;
    
    
}
#menu{
    color: var(--black-color);
    cursor: pointer;    
    right: -0;
    position: absolute;      
    display: none;
    height: fit-content;
    border-radius: 5px;
    padding: 2%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2.5rem;
  
}

.main-menu > ul{
list-style: none;

    
    

    
    
}
.main-menu > ul > li{
    display: inline-block;
    cursor: pointer;
    font-family: texto;
    font-size: 1.5rem;
    
 
} 

#home{
    display: none;
}
#menu ul {
    list-style:none;
    
    
}
.menu li{
    color: var(--black-color);
    
    

}

#menu li:hover{
    border-bottom: var(--secundary-color) 1px solid;

}
#close-menu{
    width: 100%;

}

.content{
    
    font-family:fontTitle;
    
}
.title-container{
    font-size: 3rem;
    margin-bottom: 20px;
 
}
.content-text{
    font-size: 2rem;
    margin-top: 2%;
    font-family: texto;
    font-weight: 500;
    color: var(--black-color);

}
#content-general{
    display: flex;
    align-items: center;

    width: 100%;
    
    

   
  
}

#imgR{
    height: 6vh;
    align-self: center;
    
}

#first-page{
    display: flex;
    flex-direction: row;
    padding: 4%;
    
}
#btn-works{
    border-radius: 12px;
    padding: 2rem;
    
}
#btn-works:hover{
    cursor: pointer;
    background-color: var(--secundary-color);
}
.art{
    display: flex;
    align-items: center;
    background: #000;
    width: auto;
    justify-content: space-around;

}
@media(max-width:768px){
    .main-menu > ul{

     display: none;
    }
    
    #home{
        display: block;
    }
    .menu-title{
        max-height: 100px;
    }
    #idiom > p{
        display: none;

    }

}





